<div id="todolist-container">
    <div id="todolist-input-add">
        <form novalidate>
            <nxt-input [(value)]="todolistInput" [placeholder]="'Ajouter une tâche' | translate" type="text"></nxt-input>
        </form>
    </div>
    <div id="todolist">
        <ul id="todolist-content">
            <li class="todo-input" *ngFor="let t of todoList; let i = index" [ngClass]="{'completed': t.completed}">
                <nxt-checkbox [(value)]="t.completed"></nxt-checkbox>
                <div class="todo-content">
                    <span class="todo-text">{{ t.text }}</span>
                </div>
                <button type="button" class="destroy"><span class="fa fa-trash"></span></button>
            </li>
        </ul>
    </div>
    <div id="todolist-footer">
        <div id="task-left">{{ '{$0} tâche(s) restante(s)' | translate: [ tasksLeft() ]}}</div>
        <div id="filters">
            <button type="button" id="all-filter" [ngClass]="{'active': selectedFilter === 'all'}" (click)="filter('all')">{{ 'Toutes' | translate }}</button>
            <button type="button" id="actives-filter" [ngClass]="{'active': selectedFilter === 'actives'}" (click)="filter('actives')">{{ 'Actives' | translate }}</button>
            <button type="button" id="completed-filter" [ngClass]="{'active': selectedFilter === 'completed'}" (click)="filter('completed')">{{ 'Terminées' | translate }}</button>
        </div>
    </div>
</div>