@import '../../../sass/variables';

$transitionDuration: 0.2s;

nxt-switch {
    .nxt-switch-container {
        padding: 5px;

        &.error {
            label {
                .nxt-switch-slider {
                    border: 1px solid red;
                }
            }
        }

        label {
            cursor: pointer;
            display: flex;
            
            .nxt-switch-slider {
                padding: 3px;
                width: 36px;
                background-color: gray;
                transition-duration: $transitionDuration;

                &:before {
                    content: '';
                    display: block;
                    height: 15px;
                    width: 15px;
                    background-color: white;
                    transition-duration: $transitionDuration;
                }

                &.rounded {
                    border-radius: 15px;

                    &:before {
                        border-radius: 50%;
                    }
                }

                &.active {
                    background-color: $primary;

                    &:before {
                        margin-left: 15px;
                    }
                }
            }

            .label {
                padding-left: 8px;
            }
        }

        &.disabled {
            label {
                cursor: no-drop;

                .nxt-switch-slider {
                    background-color: lightgray;
                }
            }
        }
    }
}